<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <add name="HamAndEggsConnection" 
        connectionString="Data Source=DESKTOP-CMQFOIK;Initial Catalog=Ham_and_Eggs;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="HamAndEggsSpire"
         connectionString="Data Source=LAPTOP-SPIRE;Initial Catalog=Ham_and_Eggs;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="KFCConnection"
        connectionString="Data Source=blaxadowfire.ddns.net,1433;Initial Catalog=KFC;Persist Security Info=True;User ID=Bo;Password=123456789"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>